
/* -----Reset Rules----- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* -----Reset Rules----- */


/* -----Utility Classes----- */
.container_50 {
    width: 50%;
    margin: auto;
}

.container_70 {
    width: 70%;
    margin: auto;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.flt_l{
    float: left;
}

.flt_r {
    float: right;
}

.fixed{    
    position: fixed;
    top: 0;
    z-index: 100;
}

.col_2{
    width: calc((100% / 12) * 2);
}
.col_3 {
    width: calc((100% / 12) * 3);
}
.col_4 {
    width: calc((100% / 12) * 4);
}
.col_5 {
    width: calc((100% / 12) * 5);
}
.col_6{
    width: calc((100% / 12) * 6);
}
.col_7 {
    width: calc((100% / 12) * 7);
}
.col_8 {
    width: calc((100% / 12) * 8)
}
.col_9 {
    width: calc((100% / 12) * 9)
}
.col_10 {
    width: calc((100% / 12) * 10)
}

.link_n{
    text-decoration: none;
}

.sm {
    font-size: 0.85em;
}

.tx_al_r{
    text-align: right;
}

.h_80{
    height: 80px;
}
.pd_10{
    padding: 10px;
}
.pd_20 {
    padding: 20px;
}
.pd_20_40{
    padding: 20px 40px !important;
}

.pd_l10{
    padding-left: 10px;
}
.pd_r10 {
    padding-right: 10px;
}

.pd_l30{
    padding-left: 30px;
}

.pd_b20{
    padding-bottom: 20px;
}

.b_bw{
    border-bottom: 1px solid white
}

.br_5{
    border-radius: 5px;
}

.m_10{
    margin: 10px;
}

.mt_80 {
    margin-top: 80px;
}

.mt_10{
    margin-top: 10px;
}

.ml_10{
    margin-left: 10px;
}
.mr_10{
    margin-right: 10px;
}
.mb_10{
    margin-bottom: 10px;
}

.mb_30{
    margin-bottom: 30px;
}

.mb_40{
    margin-bottom: 40px;
}

.mb_50{
    margin-bottom: 50px;
}

/* -----/Utility Classes----- */

/* ------type tool------- */
.bt{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    border: 1px solid #fe785a;
    border-radius: 5px;
}
.b_orange{
    color:white;
    text-decoration: none;
    text-transform: capitalize;   
    background-color: #fe785a;
}
.b_orange:hover{
    background-color: rgba(254, 120, 90, .8);
}

.bt_grey{
    font-size: 14px;
    font-weight: 400;
    color: #32495b;
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.bt_grey:hover{
    color: #33475B;
    background-color: rgba(255, 255, 255, 0.7);
}
p{
    line-height: 1.8em;
}

.card_w{
    background-color: white;
    box-shadow: 0 0 5px rgba(50, 73, 91, 0.2);
    border-radius: 5px;
}

.contact_icon {
    font-size: 20px;
}

h3{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 30px;
}
/* ------/type tool------ */

body {
    min-width: 1500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #33475B;
}

/* ------HEADER------ */
#header_home {
    width: 100%;
    background-color: rgb(255, 244, 239);
    border: 1px solid black;
    position: relative;
}
/* ------nav_top fixed------ */
.nav_top{
    width: 100%;
    min-width: 1500px;
    background-color: #F4F9FD;
    border: 1px solid black;
}

.nav_top_l, .nav_top_r{
    font-weight: 400;
    line-height: 80px;
}

/* ------nav_top_l------ */
.nav_top_l {
    color: #32495b;
    padding-right: 5px;
}
.nav_top_l > a.link_n{
    font-size: 16px;
    color: #32495b;
}
.nav_top_l > a.link_n:first-child{
    padding-right: 10px;
    border-right: 2px solid #899397;
}
.nav_top_l > a.link_n:nth-child(2){
    padding-left: 22px;
}
/* ------/nav_top_l------ */

/* ------nav_top_r------ */
.nav_top_r > a.link_n:first-child {
    color: #00A4BD;
    padding-right: 10px;
}
.nav_top_r > a.link_n:nth-child(2){
    color: #fe785a;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
}
.nav_top_r>a.link_n:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/* ------/nav_top_r------ */
/* ------/nav_top fixed------ */

/* ------nav_down------ */
.nav_down {
    width: 100%;
    background-color: #ffffff;
    position: relative;
}
.nav_wrap {
    position: relative;
}

/* ------nav_down left------ */
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* ------/nav_down left------ */

/* nav_down right */
.nav_line{
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.nav_line>li{
    display: inline-block;
}

.nav_line > li >a{
    color: #32495b;
    font-weight: 400;
}
/* ------/nav_down right------ */
/* ------/nav_down------ */

/* ------jumbotron------ */
#jumbotron{
    width: 100%;
    height: 695px;
    background-color: #FFF4EF;
    background-image: url("../img/header/jumbotron.png");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
#jumbotron::before {
    width: 100%;
    height: 80px;
    content: '';
    display: block;
    background-color: #AFEBE4;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
    position: absolute;
    bottom: 0;
    left: 0;
}

.jumbotron_text {
    width: 50%;
    margin-top: 60px;
}

.jumbotron_text h1 {
    color: #33475B;
    font-weight: 700;
    font-size: 3.2em;
}
/* ------/.jumbotron------ */
/* ------/HEADER------ */

/* ------MAIN------ */
main{
    width: 100%;
}

/* ------main_service------ */
.main_services {
    margin: auto;
}

/*  -- .info --*/
.info {
    text-align: center;
    padding: 50px 0;
}

.info_img{
    width: 250px;
}

.info_title{
    font-size: 32px;
    font-weight: 700;
    line-height: 2em;
    text-transform: capitalize;
    margin-bottom: 30px;
}
/*  -- /.info --*/

/* ---.header_service--- */
.header_service{
    padding: 80px;
    margin-bottom: 50px;
}
/*  -- .box_l --*/
.box_l{
    text-align: center;
}
.icon_main{
    max-height: 100px;
    margin-bottom: 20px;
}
/*  -- /.box_l --*/

/*  -- .box_r --*/
.box_r {
    padding: 0px 60px;
}

.text_line{
    width: 100%;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.list_a>li{
    text-transform: capitalize;
    display: inline-block;
}

.orange_check{
    color: #fe785a;
    margin-right: 10px;
}
/*  -- /.box_r --*/
/* ---/.header_service--- */

/* -- .body_service -- */
.body_service>.card_w {
    width: 30%;
    text-align: center;
    padding: 20px;
}

.body_service>.card_w:nth-child(2) {
    margin: 0 5%;
}

.text_card{
    padding: 0 5%;
}

.text_card>h3{
    text-transform: capitalize;
}

.text_card>p{
    min-height: 175px;
    margin-bottom: 20px;
}

.text_card>h4{
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}

.list_b{
    text-align: left;
    text-transform: capitalize;
    list-style: none;
    margin-bottom: 50px;
}
/* -- /.body_service -- */
/* ------/.main_service------ */


/* ------main_comunity------ */
.main_comunity {
    color: #ffffff;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165));
    padding: 50px 0;
}

/* ------.header_comunity------ */
.header_comunity>h2{
    font-weight: 700;
    font-size: 2.1em;
}
.header_comunity>p{
    font-weight: 500;
    font-size: 0.97em;
}
/* ------/.header_comunity------ */

/* ------.banner_box------ */
.banner_row {
    width: 100%;
    text-align: center;
}

.banner_card {
    border-right: 1px solid white;
}

.banner_card:not(:last-child) {
    border-right: 1px solid white;
}

.banner_card span {
    font-weight: 700;
    font-size: 2em;
    margin-right: 4px;
}

.banner_card>h3::after {
    content: "\002B";
    font-weight: 400;
    font-size: 1.4em;
    line-height: 22px;
}

.banner_card h5 {
    font-weight: 500;
}
/* ------/.banner_box------ */
/* ------/main_comunity------ */

/* ------main_customers------ */
.main_customers {
    margin: 50px 7%;
}

.text_customers>h2{
    font-size: 2.8em;
    font-weight: 700;
}

.logobox_customer {
    text-align: center;
    list-style: none;
}
.logobox_customer>li{
    width: 20%;
    display: inline-block;
    margin: 0px 10px;
}
.logo_customers{
    max-width: 100%;
    max-height: 40px;
    margin-bottom: 30px;
    vertical-align: middle;
}
/* ------/main_customers------ */

/* ------.main_growing------ */
.main_growing {
    margin: 0 auto 50px auto;
}

.text_growing>h2{
    font-weight: 700;
    font-size: 2em;
    margin: 40px 0;
}

.img_growing {
    max-height: 420px;
}
/* ------/.main_growing------ */
/* ------/MAIN------ */

/* ------FOOTER------ */
footer{
    width: 100%;
    color: #ffffff;
    background-color: #32495b;
}


footer a{
    color: #cbd6e2;
}
footer a:hover {
    color: #57C6DE;
}

/* .footer_top */
.footer_top, .footer_bottom{
    width: 100%;
    padding: 40px 0;
}
.footer_top h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer_top ul{
    list-style: none;
}
.footer_top li{
    margin-bottom: 20px;
}

.icon_list>li {
    display: inline-block;
}
/* /.footer_top */

/* .footer_center */
.footer_center{
    text-align: center;
    border-bottom: 1px solid #cbd6e2;
}
/* /.footer_center */

/* ------/FOOTER------ */