
/* -----Reset Rules----- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* -----Reset Rules----- */


/* -----Utility Classes----- */
.container_50 {
    width: 50%;
    margin: auto;
}

.container_70 {
    width: 70%;
    margin: auto;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.flt_l{
    float: left;
}

.flt_r {
    float: right;
}

.fixed{    
    position: fixed;
    top: 0;
    z-index: 100;
}

.col_2{
    width: calc((100% / 12) * 2);
}
.col_4 {
    width: calc((100% / 12) * 4);
}

.col_6{
    width: calc((100% / 12) * 6);
}

.col_8 {
    width: calc((100% / 12) * 8)
}

.col_10 {
    width: calc((100% / 12) * 10)
}

.nav_link{
    text-decoration: none;
}
.contact_icon{
    font-size: 25px;
}

.h_80{
    height: 80px;
}
.pd_10{
    padding: 10px;
}

.pd_20_40{
    padding: 20px 40px !important;
}
.pd_r10 {
    padding-right: 10px;
}

.pd_l30{
    padding-left: 30px;
}

.br_5{
    border-radius: 5px;
}

.mt_80 {
    margin-top: 80px;
}

ml_10{
    margin-left: 10px;
}

.mb_30{
    margin-bottom: 30px;
}

/* -----Utility Classes----- */

/* ------type tool------- */
.bt{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    border: 1px solid #fe785a;
    border-radius: 5px;
}
.b_orange{
    color:white;
    text-decoration: none;    
    background-color: #fe785a;
}
.b_orange:hover{
    background-color: rgba(254, 120, 90, .8);
}

p{
    line-height: 1.8em;
}

/* ------/type tool------ */

body {
    min-width: 900px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #33475B;
}

/* ------HEADER------ */
#header_home {
    width: 100%;
    background-color: rgb(255, 244, 239);
    border: 1px solid black;
    position: relative;
}
/* nav_top fixed */
.nav_top{
    width: 100%;
    min-width: 900px;
    background-color: #F4F9FD;
    border: 1px solid black;
}

.nav_top_l, .nav_top_r{
    font-weight: 400;
    line-height: 80px;
}

/* nav_top_l */
.nav_top_l {
    color: #32495b;
    padding-right: 5px;
}
.nav_top_l > a.nav_link{
    font-size: 16px;
    color: #32495b;
}
.nav_top_l > a.nav_link:first-child{
    padding-right: 10px;
    border-right: 2px solid #899397;
}
.nav_top_l > a.nav_link:nth-child(2){
    padding-left: 22px;
}
/* nav_top_l */

/* nav_top_r */
.nav_top_r {
    text-align: right;
}
.nav_top_r > a.nav_link:first-child {
    color: #00A4BD;
    padding-right: 10px;
}
.nav_top_r > a.nav_link:nth-child(2){
    color: #fe785a;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
}
.nav_top_r>a.nav_link:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.1);
}
/* nav_top_r */
/* nav_top fixed */

/* nav_down */
.nav_down {
    width: 100%;
    background-color: #ffffff;
    position: relative;
}
.nav_wrap {
    position: relative;
}

/* nav_down left */
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* nav_down left */

/* nav_down right */
.nav_line{
    text-align: right;
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.nav_line>li{
    display: inline-block;
}

.nav_line > li >a{
    color: #32495b;
    font-weight: 400;
}
/* nav_down */

/* hero */
#hero{
    width: 100%;
    height: 695px;
    background-color: #FFF4EF;
    background-image: url("../img/header/jumbotron.png");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.hero_text {
    width: 50%;
    margin-top: 60px;
}

.hero_text h1 {
    color: #33475B;
    font-weight: 700;
    font-size: 3.2em;
}

.hero_text>p:nth-child(4){
    font-size: 0.8em;
}
/* hero */

.hr_row{
    width: 100%;
    height: 86px;
    background-color: #AFEBE4;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ------HEADER------ */

/* ------MAIN------ */
main{
    width: 100%;
    background-color: #f4f9fd;
}

/* ------main_service------ */
.main_services {
    height: 1529px;
    margin: auto;
}

/*  -- .info --*/
.info {
    text-align: center;
    padding: 50px 0;
}

.info_img{
    width: 250px;
}

.info_title{
    font-size: 32px;
    font-weight: 700;
    line-height: 2em;
    text-transform: capitalize;
    margin-bottom: 30px;
}

/*  -- .info --*/

/* ------main_service------ */
.main_comunity {
    height: calc(560px + 50px + 50px);
    background-image: linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165));
}

.main_customers {
    height: calc(169px + 50px + 50px);
    background-color: aquamarine;
}

.main_growing {
    height: 480px;
    background-color: aquamarine;
}
/* ------MAIN------ */

/* ------FOOTER------ */
footer{
    width: 100%;
    height: 618px;
    color: #ffffff;
    background-color: #32495b;
}
/* ------FOOTER------ */